/* Main Wrapper: Use flexbox to create the layout */
.main-wrapper {
  display: flex;
  height: 100vh;
}


/* Main content area */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 256px;
  background: #f5f5f5;
}

// .stick-main-contentt {
//   height: 100%;
// }

